.header-container {
    background-image: url("../assets/desktop/bg-pattern-header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
     /* Adjust the height as needed */
  }
  